header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;

  .header-top,
  .header-menu
  {
    width: 100%;
    background-color: $brandColor;
    @include Container(90px);
    @include DisplayFlex();
    flex-direction: row;
  }

  .header-top {
    height: 60px;
    justify-content: space-between;

    .header-logo-wrapper,
    .header-details
    {
      width: 50%;
      height: 100%;
    }

    .header-logo-wrapper {
      @include DisplayFlex();
      align-items: center;
      font-size: 16px;
      svg {
        color: $orange;
        font-size: 30px;
      }

      .header-logo-content {
        @include DisplayFlex();
        flex-direction: row;
        align-items: center;
      }

      .header-logo-text {
        margin-left: 10px;

        span {
          font-weight: 900;
          letter-spacing: 2px;
          &:first-child {
            color: $cyan;
          }
          &:last-child {
            color: #fff;
          }
        }
      }
    }

    .header-details {
      @include DisplayFlex();
      flex-direction: row;
      justify-content: flex-end;

      .header-auth-btn {
        font-size: 15px;
        font-weight: 600;
        padding: 0 30px;
        height: 100%;
        color: #fff;
        background-color: $brandColor;
        border: 1px solid #11376D;
        border-top: none;
        border-bottom: none;
        @include Transition(.2s);

        &:hover {
          color: $orange;
        }

        svg {
          margin-right: 10px;
          color: $cyan;
        }
      }

      .header-add-btn {
        padding: 0 40px;
        height: 100%;
        background-color: $cyan;
        color: #fff;
        font-size: 15px;
        font-weight: bold;
        border: none;
        @include Transition(.2s);

        svg {
          margin-left: 10px;
        }

        &:hover {
          background-color: $orange;
        }
      }
    }

  }

  .header-menu {
    height: 50px;
    border-top: 1px solid #11376D;
    border-bottom: 1px solid #11376D;
    @include DisplayFlex();

    .header-nav{
      @include DisplayFlex();
      flex-direction: row;
      width: 70%;

      .header-menu-icon {
        min-width: 60px;
        height: 100%;
        border-left: 1px solid #11376D;
        border-right: 1px solid #11376D;
        @include DisplayFlex();
        justify-content: center;
        align-items: center;
        cursor: pointer;
        @include Transition(.2s);

        &:hover svg {
          color: $orange;
        }

        svg {
          color: $cyan;
        }
      }

      .header-burger-wrapper {
        display: none;
        width: 50px;
        height: 50px;

        .header-burger-content {
          width: 35px;
          height: 35px;
          background: $cyan;
          @include CenteringWithFlex();
          @include Border-radius(2px);

          svg {
            color: #fff;
          }
        }
      }

      .header-nav-content {
        width: 100%;
        height: 100%;
        @include DisplayFlex();
        flex-direction: row;

        .nav-item {
          position: relative;
          padding: 0 30px;
          min-width: 100px;
          height: 100%;
          @include DisplayFlex();
          justify-content: center;
          align-items: center;

          font-weight: 900;
          font-size: 13px;
          color: #fff;
          cursor: pointer;
          @include Transition(.3s);


          svg {
            margin-left: 5px;
            color: $cyan;
          }

          .nav-item-dropdown {
            display: none;
            position: absolute;
            z-index: 1;
            padding: 0 30px;
            width: 100%;
            top: 49px;
            list-style: none;
            background: #fff;
            @include Border-radius(5px);

            li {
              color: #566985;
              width: 100%;
              height: 30px;
              @include DisplayFlex();
              align-items: center;

              &:hover {
                color: $yellow;
              }
            }

          }

          &:hover {
            color: $orange;

            .nav-item-dropdown {
              display: block;
            }
          }

        }

      }
    }

    .header-profile {
      width: 30%;
      padding-right: 20px;
      @include DisplayFlex();
      align-items: center;
      justify-content: flex-end;

      .header-profile-wrapper {
        height: 100%;
        @include DisplayFlex();
        align-items: center;
        cursor: pointer;
        position: relative;

        .header-profile-dropdown {
          display: none;
          padding: 10px;
          position: absolute;
          width: calc(100% + 10px);
          background: #fff;
          top: 100%;
          z-index: 1;
          @include Border-radius(6px);

          span {
            color: #50596e;
          }
          li {
            padding: 3px 0;
            &:hover > span{color: $cyan}
          }
          &:hover {display: block}
        }

        img {
          width: 32px;
          height: 32px;
          @include Border-radius(50%);
        }

        span {
          margin-left: 10px;
          color: #fff;
          font-size: 15px;
          font-weight: 700;
          @include Transition(.2s);
        }
        svg {margin-left: 10px; color: $cyan}

        &:hover > span {color: $orange}
        &:hover > .header-profile-dropdown {display: block}
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  header {
    .header-menu {
      .header-nav {
        .header-nav-content {
          display: none;
        }
        .header-burger-wrapper {
          @include CenteringWithFlex();
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  header {
    .header-menu {
      padding: 0;
    }
    .header-details >.header-add-btn {
        display: none;
    }
  }
}

@media only screen and (max-width: 568px) {
  header {
    .header-logo-wrapper {
      .header-logo-content {
        svg {font-size: 20px}
      }
      .header-logo-text > span {
        font-weight: 800 !important;
      }
    }
    .header-details > .header-auth-btn {
      padding: 0 20px !important;
    }

    .header-menu {
      .header-nav { width: 40% }
      .header-profile { width: 60% }
    }

  }
}
