@mixin DisplayFlex() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
};

@mixin Container($offset) {
  padding: 0 $offset;

  @media only screen and (max-width: 960px) {
    padding: 0 0 0 20px;
  }
}

@mixin Transition($time) {
  -webkit-transition: all $time;
  -moz-transition: all $time;
  -ms-transition: all $time;
  -o-transition: all $time;
  transition: all $time;
}

@mixin Border-radius($value) {
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  border-radius: $value;
}

@mixin TransformY($value) {
  -webkit-transform: translateY($value);
  -moz-transform: translateY($value);
  -ms-transform: translateY($value);
  -o-transform: translateY($value);
  transform: translateY($value);
}

@mixin BackgroundSize($value) {
  -webkit-background-size: $value;
  background-size: $value;
  -moz-background-size: $value;
}
