@mixin Container($offset) {
  padding: 0 $offset;

  @media only screen and (max-width: 992px) {
    padding: 0 0 0 20px;
  }
}

@mixin DisplayFlex() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
};

@mixin Flex-wrap($value) {
  flex-wrap: $value;
  -ms-flex-wrap: $value;
  -webkit-flex-wrap: $value;
}

@mixin CenteringWithFlex() {
  @include DisplayFlex();
  justify-content: center;
  align-items: center;
}

@mixin ButtonBaseStyles() {
  cursor: pointer;
  outline: none;
  border: none;
}

@mixin Transition($time) {
  -webkit-transition: all $time;
  -moz-transition: all $time;
  -ms-transition: all $time;
  -o-transition: all $time;
  transition: all $time;
}

@mixin Object-fit($value) {
  -o-object-fit: $value;
  object-fit: $value;
}

@mixin Border-radius($value) {
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  border-radius: $value;
}

@mixin Transform($value) {
  -webkit-transform: $value;
  -moz-transform: $value;
  -ms-transform: $value;
  -o-transform: $value;
  transform: $value;
}

@mixin BackgroundSize($value) {
  -webkit-background-size: $value;
  background-size: $value;
  -moz-background-size: $value;
}

@mixin Box-shadow($value) {
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  box-shadow: $value;
}
